iks-web/resources/schema/app-schema.rnc

default namespace = "http://com.iks.org/schema/app/1.0"
include "app/app-element-schema.rnc"

start = app
app = element app {
  appObj+
}

appObj = element appObj {
  attribute name { xsd:NCName }
  & labelAttr
  & element data {
    attribute url { xsd:anyURI }
  }
  & element list {
    attribute url { xsd:anyURI }
  }
  & element edit {
    attribute url { xsd:anyURI }
  }
}
