iks-web/resources/schema/app-schema.rnc

default namespace = "http://com.iks.org/schema/app/1.0"

start = app
app =
  appObj+

appObj =
  attribute name { xsd:NCName }
  & labelAttr
  & element data {
    attribute url { xsd:anyURI }
  }
  & element list {
    attribute url { xsd:anyURI }
  }
  & element edit {
    attribute url { xsd:anyURI }
  }
