iks-web/resources/schema/list-schema.rnc

default namespace = "http://com.iks.org/schema/list/1.0"
include "gul/gul-schema.rnc"

start =
  element gridView {
    attribute appObj { xsd:NCName },
    element filter {
      gul.element*
    }?,
    element table {
      element column {
        labelAttr?,
        nameAttr?
      }+
    }
  }