iks-web/resources/schema/list-schema.rnc

default namespace = "http://com.iks.org/schema/list/1.0"
include "gul/gul-schema.rnc"

start =
  element gridView {
    attribute appObj { xsd:NCName }
    & element appTable {
      idAttr
      & appObjAttr
      & filterPanel?
      & element columns {
       column+
      }
    }?
  }

filterPanel = element filterPanel {
  gul.element*
}

column = element column {
  nameAttr?
  & labelAttr?
  & attribute displayField { text }?
}+