iks-web/resources/schema/list-schema.rnc

default namespace = "http://com.iks.org/schema/list/1.0"

start =
  element gridView {
    attribute appObj { xsd:NCName },
    element filter {
      element hbox {
        element textbox {
          attribute name { xsd:NCName }
        }+
        & element select {
          attribute name { xsd:NCName }
        }+
      }
    }?,
    element table {
      element column {
        attribute label { text }?,
        attribute name { xsd:NCName }
      }+
    }
  }