iks-web/resources/schema/model-schema.rnc

default namespace = "http://com.iks.org/schema/model/1.0"

start =
  element data {
    attribute appObj { xsd:NCName }
    & attribute tableName { xsd:NCName }
    & element field {
      attribute label { text },
      attribute name { xsd:NCName },
      attribute primary { xsd:boolean }?,
      attribute required { xsd:boolean }?,
      attribute tableField { xsd:NCName }
    }*
    & element selectField {
      attribute label { text },
      attribute name { xsd:NCName },
      attribute tableField { xsd:NCName },
      element options {
        element option {
          attribute value { text },
          text
        }+
      }
    }*
    & element manyToOne {
      attribute appObj { xsd:NCName },
      attribute name { xsd:NCName },
      attribute referenceField { xsd:NCName },
      attribute tableField { xsd:NCName }
    }*
  }
